<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/app.css">
  </head>


  <body>
    <form action="/">
      <div class="title">
        <h2>Cadastro de Filme</h2>
      </div>
      <div class="info">
        <input id="nomeFilme" type="text" name="name" placeholder="Nome do Filme">
        <input id="faixaEtaria" type="text" name="name" placeholder="Faixa Etaria">
        <input id="capacidadeSala" type="text" name="name" placeholder="Capacidade da Sala">
      </div>
    </form>
    <button onclick="RegistrarFilme(
      document.getElementById('nomeFilme').value, 
      document.getElementById('faixaEtaria').value, 
      document.getElementById('capacidadeSala').value
        )">Cadastrar</button>
    <script src="/js/script.js"></script>
  </body>
</html>